asgiref==3.8.1
async-timeout==5.0.1
attrs==25.3.0
autobahn==24.4.2
Automat==24.8.1
cassandra-driver==3.29.2
cffi==1.17.1
channels==4.2.2
channels_redis==4.2.1
click==8.2.1
constantly==23.10.4
cryptography==44.0.2
daphne==4.1.2
Django==5.2
django-browser-reload==1.18.0
django-cors-headers==4.7.0
django-tailwind==4.0.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
geomet==0.2.1.post1
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
msgpack==1.1.0
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
PyJWT==2.10.1
pyOpenSSL==25.0.0
python-dotenv==1.1.0
redis==5.2.1
service-identity==24.2.0
simplejwt==2.0.1
six==1.17.0
sqlparse==0.5.3
tomli==2.2.1
Twisted==24.11.0
txaio==23.1.1
typing==3.7.4.3
typing_extensions==4.13.2
tzdata==2025.2
whitenoise==6.9.0
zope.interface==7.2
